gemini/n8n_gemini_workflow.json
{
  "name": "GeminiHumanizer - 5-Phase Batch Workflow",
  "description": "Optimized batch humanization pipeline for Google Gemini API. Reads all markdown files from 'input/' directory, runs the 5-step humanization process (including final word sweep), and saves to 'humanized/' directory.",
  "nodes": [
    {
      "parameters": {
        "command": "mkdir -p input humanized"
      },
      "name": "Create Directories",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [50, 200],
      "notes": "Ensures input/ and humanized/ directories exist."
    },
    {
      "parameters": {
        "fileSelector": "input/*.md"
      },
      "name": "Read Input Files",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [250, 200],
      "notes": "Reads all .md files from the 'input' subdirectory. Workflow loops automatically for each file found."
    },
    {
      "parameters": {
        "filePath": "./master_prohibited_words.json",
        "options": {}
      },
      "name": "Load Master Prohibited Words",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [250, 350]
    },
    {
      "parameters": {
        "filePath": "./master_prohibited_words_romance.json",
        "options": {}
      },
      "name": "Load Romance Genre List",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [250, 450]
    },
    {
      "parameters": {
        "filePath": "./master_prohibited_words_erotica.json",
        "options": {}
      },
      "name": "Load Erotica Genre List",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [250, 550]
    },
    {
      "parameters": {
        "filePath": "./gemini/1_foundational_cleanup.json",
        "options": {}
      },
      "name": "Load Gemini Phase 1 Prompt",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [450, 0]
    },
    {
      "parameters": {
        "filePath": "./gemini/2_stylistic_narrative_enhancement.json",
        "options": {}
      },
      "name": "Load Gemini Phase 2 Prompt",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [450, 100]
    },
    {
      "parameters": {
        "filePath": "./gemini/3_advanced_structural_statistical_humanization.json",
        "options": {}
      },
      "name": "Load Gemini Phase 3 Prompt",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [450, 200]
    },
    {
      "parameters": {
        "filePath": "./gemini/4_dialogue_refinement.json",
        "options": {}
      },
      "name": "Load Gemini Phase 4 Prompt",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "filePath": "./gemini/5_targeted_ai_word_removal.json",
        "options": {}
      },
      "name": "Load Gemini Phase 5 Prompt",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleGenerativeAiApi",
        "resource": "chat",
        "model": "gemini-3.0-pro",
        "text": "={{ $node['Read Input Files'].data.toString() }}",
        "options": {
          "temperature": 0.2,
          "systemMessage": "={{ JSON.parse($node['Load Gemini Phase 1 Prompt'].json.data).persona + '\n\n' + JSON.stringify(JSON.parse($node['Load Gemini Phase 1 Prompt'].json.data).instructions) + '\n\nMaster Prohibited Words:\n' + JSON.parse($node['Load Master Prohibited Words'].json.data).toString() + '\n\nRomance Prohibited Words (Optional):\n' + JSON.parse($node['Load Romance Genre List'].json.data).toString() + '\n\nErotica Prohibited Words (Optional):\n' + JSON.parse($node['Load Erotica Genre List'].json.data).toString() }}",
          "maxTokens": 32768
        }
      },
      "name": "Gemini Phase 1 - Foundational Cleanup",
      "type": "n8n-nodes-base.googleGenerativeAi",
      "typeVersion": 1,
      "position": [650, 0]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleGenerativeAiApi",
        "resource": "chat",
        "model": "gemini-3.0-pro",
        "text": "={{ $json.content.text }}",
        "options": {
          "temperature": 0.5,
          "systemMessage": "={{ JSON.parse($node['Load Gemini Phase 2 Prompt'].json.data).persona + '\n\n' + JSON.stringify(JSON.parse($node['Load Gemini Phase 2 Prompt'].json.data).instructions) }}",
          "maxTokens": 32768
        }
      },
      "name": "Gemini Phase 2 - Stylistic & Narrative Enhancement",
      "type": "n8n-nodes-base.googleGenerativeAi",
      "typeVersion": 1,
      "position": [650, 100]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleGenerativeAiApi",
        "resource": "chat",
        "model": "gemini-3.0-pro",
        "text": "={{ $json.content.text }}",
        "options": {
          "temperature": 0.8,
          "systemMessage": "={{ JSON.parse($node['Load Gemini Phase 3 Prompt'].json.data).persona + '\n\n' + JSON.stringify(JSON.parse($node['Load Gemini Phase 3 Prompt'].json.data).instructions) }}",
          "maxTokens": 32768
        }
      },
      "name": "Gemini Phase 3 - Advanced Structural & Statistical Humanization",
      "type": "n8n-nodes-base.googleGenerativeAi",
      "typeVersion": 1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleGenerativeAiApi",
        "resource": "chat",
        "model": "gemini-3.0-pro",
        "text": "={{ $json.content.text }}",
        "options": {
          "temperature": 1.0,
          "systemMessage": "={{ JSON.parse($node['Load Gemini Phase 4 Prompt'].json.data).persona + '\n\n' + JSON.stringify(JSON.parse($node['Load Gemini Phase 4 Prompt'].json.data).instructions) }}",
          "maxTokens": 32768
        }
      },
      "name": "Gemini Phase 4 - Dialogue Refinement",
      "type": "n8n-nodes-base.googleGenerativeAi",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleGenerativeAiApi",
        "resource": "chat",
        "model": "gemini-3.0-pro",
        "text": "={{ $json.content.text }}",
        "options": {
          "temperature": 0.1,
          "systemMessage": "={{ JSON.parse($node['Load Gemini Phase 5 Prompt'].json.data).persona + '\n\n' + JSON.stringify(JSON.parse($node['Load Gemini Phase 5 Prompt'].json.data).instructions) + '\n\nMaster Prohibited Words:\n' + JSON.parse($node['Load Master Prohibited Words'].json.data).toString() }}",
          "maxTokens": 32768
        }
      },
      "name": "Gemini Phase 5 - Targeted AI Word Removal",
      "type": "n8n-nodes-base.googleGenerativeAi",
      "typeVersion": 1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "fileNameProperty": "={{ 'humanized/' + $node['Read Input Files'].binary.data.fileName }}",
        "dataPropertyName": "data",
        "options": {}
      },
      "name": "Write Output File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [850, 400],
      "notes": "Writes final humanized text to humanized/ subdirectory"
    },
    {
      "parameters": {
        "responseBody": "={{ { \"success\": true, \"processed_files\": $items().length, \"last_processed\": $node['Read Input Files'].binary.data.fileName, \"timestamp\": $now, \"message\": \"Batch Gemini Humanizer pipeline completed\" } }}"
      },
      "name": "Completion Summary",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Create Directories": {
      "main": [
        [
          {
            "node": "Read Input Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Input Files": {
      "main": [
        [
          {
            "node": "Gemini Phase 1 - Foundational Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Phase 1 - Foundational Cleanup": {
      "main": [
        [
          {
            "node": "Gemini Phase 2 - Stylistic & Narrative Enhancement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Phase 2 - Stylistic & Narrative Enhancement": {
      "main": [
        [
          {
            "node": "Gemini Phase 3 - Advanced Structural & Statistical Humanization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Phase 3 - Advanced Structural & Statistical Humanization": {
      "main": [
        [
          {
            "node": "Gemini Phase 4 - Dialogue Refinement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Phase 4 - Dialogue Refinement": {
      "main": [
        [
          {
            "node": "Gemini Phase 5 - Targeted AI Word Removal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Phase 5 - Targeted AI Word Removal": {
      "main": [
        [
          {
            "node": "Write Output File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Output File": {
      "main": [
        [
          {
            "node": "Completion Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "documentation": {
    "setup_instructions": "1. Create an 'input' subdirectory and place your .md files there.\n2. Ensure all 5 Gemini phase JSON files are in the 'gemini/' subdirectory.\n3. Ensure master_prohibited_words.json files are in the root.\n4. Configure Google Generative AI API credentials.\n5. Run the workflow.\n6. Output files will be in 'humanized/' subdirectory.",
    "models_used": "Gemini 3.0 Pro (gemini-3.0-pro) - Configured as default.",
    "workflow_notes": "Batch processing workflow. Loops through all files in 'input/' and runs the 5-phase humanization chain."
  }
}